* {
    background-color: #f8f9fa;
    font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

.container {
    padding: 0;
}

ul.nav {
    justify-content: left;
    height: 70px;
}

.buygl_logo {
    margin: 6px 20px 0 0;
}

a.navbar-brand {
    margin: 10px 50px 0 0;
}

li.nav-item {
    margin: 32px 20px 0 20px;
    font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.nav-glte,
.nav-sungl,
.nav-contactlenses,
.nav-etc {
    text-decoration: none;
    color: #707070;
    margin-top: 25px;
}

a:hover,
a:active {
    color: #ff7f2f !important;
}

button {
    border: 0;
    padding: 14px 20px 0 0;
    outline: 0;
}

.search-login {
    margin-left: 134px;
}

a.nav-best,
a.nav-newproduct {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    letter-spacing: -1px;
}

img {
    padding: 2px;
    margin-right: 1rem;
}

button {
    padding: 0;
}

img.buygl_logo {
    margin-top: 1rem;
}

.col-lg-2 {
    margin-top: 1rem;
    text-align: center;
}

.icons-box.col-lg-4 {
    text-align: center;
    margin-top: 1rem;
}

.carousel-inner>.carousel-item>img {
    width: 300px;
    height: 600px;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0);
}

img.d-block.w-100 {
    margin-top: 3%;
}

.container-daepyoitem p {
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

img {
    justify-content: center;
}

p {
    margin-top: 10%;
}

.container-daepyoitem {
    margin-top: 5%;
    text-align: center;
}

.img-gl {
    width: 198px;
    border-radius: 50%;
    border: 5px solid white;
}

.gl-imginfo-box {
    width: 198px;
}

.gl-imginfo-box .gl-name,
.gl-price {
    text-align: center;
}

.gl-imginfo-box .gl-price {
    font-size: 20px;
    font-weight: bold;
}

.container-gl {
    width: 198px;
    margin: 2% 2.5% 3% 2.5%;
}

.container-item-promotion {
    margin-top: 15%;
}

.item-pro-img,
.shop-info {
    width: 630px;
}

.shop-info {
    margin-top: 15%;
}

@media screen and (min-width:1024px) {}

@media screen and (min-width:768px) and (max-width: 1023px) {
    ul.nav {
        justify-content: center;
    }

    /* .col-lg-4 {
        margin-left: 30%;
    } */

    .col-lg-4 {
        width: 800px;
        margin-left: 25%;
    }

    .col-lg-2 {
        width: 280px;
        float: left;
    }

    .icons-box.col-lg-4 {
        margin-left: 30%;
    }

    .carousel-inner>.carousel-item>img {
        height: 450px;
    }

    .container-daepyoitem p {
        font-size: 25px;
    }

    .container-item-promotion {
        margin-left: 6%;
    }

    img.item-pro-img {
        margin-bottom: 5%;
    }

    .container-shop {
        margin-left: 6%;
    }
}

@media screen and (max-width:767px) {
    ul.nav {
        justify-content: center;
    }

    /* .col-lg-4 {
        margin-left: 30%;
    } */

    .col-lg-4 {
        width: 300px;
    }

    .col-lg-2 {
        float: right;
        margin-top: 3%;
        width: 90px;
    }

    .icons-box.col-lg-4 {
        float: left;
        width: 260px;
        margin-top: 3%;
    }

    .carousel-inner>.carousel-item>img {
        margin-top: 15%;
        height: 300px;
    }

    .container-daepyoitem p {
        font-size: 20px;
    }

    .container-gl {
        width: 198px;
        margin: 2% 6% 3% 6%;
    }

    .item-pro-img,
    .shop-info {
        width: 600px;
        margin-left: -5%;
    }

    .container-shop {
        margin-left: -2%;
    }
}